.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.navText {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20.23px;
  color: #FFFFFF;
}
.navDropdown {
  background-color: transparent;
  border-style: none;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20.23px;
  color: #FFFFFF;
}

.signinButn {
  background-color: #e5b805;
  width: 129px;
  border-radius: 4px;
  padding: 12px, 32px, 12px, 32px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Jost', sans-serif;
  outline: #e5b805;
  line-height: 23.12px;
  cursor: pointer;
}

.loginButn {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Jost', sans-serif;
  line-height: 23.12px;
  border-style: none;
  color: #FFFFFF;
  background-color: transparent;
}

.navChakraMenu {
  background-color: #1c2031;
  box-shadow: none;
  border-radius: 6px;
  box-shadow: transparent;
  border-style: none;
  outline-offset: #252b46;
  color: #1c2031;
}

.navChakraMenuList {
  width: 270px;
  height: 45px;
  padding: 12px;
  border-style: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2023px;
}
