.navbar {
    display: flex;
    justify-content: space-between;
    margin: 25px 15px;
  }
  
  .signin-butn {
    background-color: #E5B805;
    width: 129px;
    border-radius: 4px;
    Padding: 12px, 32px, 12px, 32px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'jost';
    outline: #E5B805;
    Line-height: 23.12px
  }
  
  .login-butn {
    font-size: 16px;
    font-weight: 600;
    font-family: 'jost';
    Line-height: 23.12px
  }