body {
  background-color: #1E1E1E;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 25px 15px;
}

.signin-butn {
  background-color: #E5B805;
  width: 129px;
  border-radius: 4px;
  Padding: 12px, 32px, 12px, 32px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'jost';
  outline: #E5B805;
  Line-height: 23.12px
}

.login-butn {
  font-size: 16px;
  font-weight: 600;
  font-family: 'jost';
  Line-height: 23.12px
}

.div-pres {
  display: flex;
}

.pres-div1 {
  font-family:'Jost';
  font-weight: 700;
  font-size: 30px;
  line-height:43.35px;
  color: #FFFFFF;
}
.pres-div2 {
  background-color: #181C2E;
  margin-left: 10px;
  width: 170px;;
  height: 24.61px;
  border-color: #242B47;
  border-radius: 4px;
  margin-top: 44px;
}

.pres-div2-text {
  font-family:'Jost';
  font-weight: 500;
  font-size: 14px;
  line-height: 20.23px;
  color: #FFFFFF;
  text-align: center;
  margin-top: -0.1px
}